/* google fonts  */
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@800&family=Poppins&display=swap');

/* utilities */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h3 {
    font-family: 'EB Garamond', serif;
}

p {
    font-family: 'Poppins', sans-serif;
}

.btn-icon-background {
    background-color: #B68C5A;
}

.banner-img img {
    filter: grayscale(.5);
}

/* media queries */
@media only screen and (max-width:992px) {
    .banner-img img {
        height: 100vh;
        object-fit: cover;
        object-position: right;
    }
}